<!-- <%- layout('layouts/boilerplate') %>
<a href="/campgrounds">All Campgrounds</a>
<a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<p>Price: $<%= campground.price %></p>
<img src="<%= campground.image  %>" alt="" height="500" width="500" />
<p><%= campground.description %></p>

<form action="/campgrounds/<%= campground._id  %>?_method=DELETE" method="POST">
    <button>DELETE</button>
</form> -->
<div class="row mb-5">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>/edit"><button class="btn btn-success">Edit</button></a>
                <form class="d-inline" action="/campgrounds/<%= campground._id  %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
